<h1>Ingrese productos</h1>
<form action="/productos" method="post">
    <div class="d-flex flex-column align-items-center">
        <input type="text" name="name" class="form-control" placeholder="Nombre" style="margin-bottom: 10px;">
        <input type="number" name="precio" class="form-control" placeholder="precio" style="margin-bottom: 10px;">
        <input type="text" name="imagen" class="form-control" placeholder="url imagen" style="margin-bottom: 10px;">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>